<!DOCTYPE html>
<html>
  <head>
    <title>偽Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>偽Twitter</h1>
    </header>
    <%= yield %>
    <footer>
      <p>Copyright　2020</p>
    </footer>
  </body>
</html>
